$green: #85b026;
$blue: #6eacf2;
$orange: #f0b52a;
$violet: #e33b58;
$pink: #e33b58;

$grey-darkest: #bababa;
$grey-dark: #cacaca;
$grey: #dadada;
$grey-light: #eee;
$grey-lightest: #fafafa;
$grey-even-darker: #d7d7d7;

$white: #fff;
$black: #000;
$grey-text: rgb(51, 51, 51);

$grey-alpha-03: rgba(255, 255, 255, 0.3);
