@charset "UTF-8";

@font-face {
  font-family: "UniversLTW02-45Light";
  src: url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.eot");
  src: url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.woff") format("woff"), url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/535a7e380ad5392e71f55133508cddb1.svg#UniversLTW02-45Light") format("svg");
}