@charset "UTF-8";

@font-face {
  font-family: "Univers LT W02";
  font-style: normal;
  font-weight: 400;
  src: local('Univers Regular'),
  url("../fonts/UniversCom-45Light.ttf") format("truetype")
}
@font-face {
  font-family: "Univers Bold";
  font-style: normal;
  font-weight: 400;
  src: local('Univers Regular'),
  url("../fonts/UniversCom-65Bold.ttf") format("truetype")
}